{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}'=Django-Cambiar Password='{% endblock title %}
{% block extras_constantes %}
{% endblock extras_constantes %}
{% block extras_css %}
<link rel="stylesheet" href="{% static 'css/custom_login.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link href="{% static 'css/font_varelaround.css'  %}" rel='stylesheet' type='text/css'>
{% endblock extras_css %}
{% block extras_js %}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript">
</script>
{% endblock extras_js %}
{% block contenido %}
<!-- Where all the magic happens -->
<!-- FORGOT PASSWORD FORM -->
<div class="text-center" style="padding:50px 0">
    <div class="logo">Recuperar contraseña</div>
    <!-- Main Form -->
    <div class="login-form-1">
    {% if validlink %}
    <form id="forgot-password-form" class="text-left" method="post">
            <div class="etc-login-form">
                <p>Por favor ingrese su nueva contraseña dos veces.<br />
                        Así podremos verificar que es correcta.</p> 
            </div>
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
        </form>
        {% else %}
        <div class="etc-login-form">
            <h1>Se intento recuperar la contraseña, pero fallo.</h1>
            <p align="center">El vínculo de recuperación de contraseña es inválido, <br />
            Posiblemente ya ha sido usado <br />
            Por favor solicite una nueva contraseña.</p>
        {% endif %}
        </div>
    </div>
    <!-- end:Main Form -->
</div>
{% endblock contenido %}
{% block custom_js%}
<script src="{% static 'js/custom_login.js' %}"></script>
{% endblock custom_js%}