{% extends 'base.html' %}
{% block extras_js %}
{% endblock extras_js %}
{% block contenido %}
 {% block modals %}
              <!-- Modal  -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Actualizar Perfil del Usuario</h4>
                        </div>
                        <div class="modal-body" id="modal-body">
                        </div>
                      </div>
                    </div>
              </div>
            <!-- End Modal -->
        {% endblock modals %}
<div id="wrapper">

        <!-- Sidebar -->
        {% block sidebar %}
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Django Base
                    </a>
                </li>
                {% if 'Super Admin' in request.session.grupos %}
                <li class="submenu">
                    <a href="#" > Gestion de usuarios<span class="caret "></span></a>
                    <ul>
                        <li><a href="{% url 'users:lista_users' %}">Listar Usuarios</a></li>
                        <li><a href="{% url 'users:registrar' %}">Registrar Usuario</a></li>
                  </ul>
                </li>
                {% endif %}
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="{% url 'users:logout' %}">Salir</a>
                </li>
            </ul>
        </div>
        {% endblock sidebar %}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        {% block content_center %}
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        {% endblock content_center %}

    </div>
    <!-- /#wrapper -->
{% endblock contenido %}