<div class="content" id="menu-msn">
        {% block messages %}
            <div class="box-body">
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Error!</h4>
                    No se pudo continuar con la aplicacion debido a los siguientes errores:<br/>
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                    </ul>
                    </div>
                {% endif %}
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-check"></i> Exito!</h4>
                            {{ message }}
                         </div>
                    {% elif 'info' in message.tags %}
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-info"></i> Informacion!</h4>
                            {{ message }}
                      </div>
                    {% elif 'warning' in message.tags %}
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-warning"></i> Advertencia!</h4>
                            {{ message }}
                        </div>
                    {% elif 'error' in message.tags %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-ban"></i> Error!</h4>
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock messages %}
</div>